@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$sizeL: 24px;
$mainColor: #3C2B99;


*{
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.header{
  font-size: $sizeL;
  .container{
    border-bottom: 1px solid #C4C4C4;
  }
  &__logo{
    font-size: 40px;
    font-weight: 600;
    color: $mainColor;
  }
  &__link{
    color: #000;
    font-weight: 400;
  }
  &__link:hover{
    border-bottom: 2px solid $mainColor;
  }
}

.banner{
  &__title{
    font-family: "Fira Sans", sans-serif;
    color: #000;
    font-size: 70px;
    font-weight: 600;
    width: 70%;
    margin-left: 45%;
    margin-top: 60px;
  }
  &__img{
  
    z-index: 1000;
    margin-top: -195px;
  }
  &__text{
    font-family: "Fira Sans", sans-serif;
  }
}


